.page-img{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/bg_home.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball01.svg);
    background-repeat: no-repeat,no-repeat;
    background-position: right top ,-222px 578px;
    height: auto;
    

    @media(max-width: 768px){
        background-image: none ,none;
        background-image:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/bg_home_sm.svg);
        background-position: 80px 760px;
        background-size: 500px;
        
    }
    @media(max-width: 375px){
        background-image: none ,none;
        background-image:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/bg_home_sm.svg);
        background-position: 15px 380px;
        background-size: 334px;
        
    }
}



.header{
    height: 88px;
    .b-top{
        width: 128px;
        height: 40px;
        border-radius: 20px;
        background-color: #56C4C5 ;
        margin-top: 24px;
        &:active{
            background-color:#FF5D50;
        }
        a{
            display: block;
            text-decoration: none;
            color: white;

        }
    }

    @media(max-width: 768px){
        border-bottom: 2px solid #FFD153;
        
    }

    @media(max-width: 375px){
        border-bottom: 2px solid #FFD153;
        
    }
}

.banner{
    max-width: 1085px;
    height: 534px;
    display: flex;
    .banner-text{
        width: 451px;
        padding-bottom: 157px;
        .slogn{
            padding-top: 158px;
        }
        h2{
            line-height: 1.2;
        }
    }
    .banner-img{        
            width: 532px;
    }

    @media(max-width: 375px){
        .banner{
            display: flex;
            justify-content: center;
        }    
            .banner-text{
                padding-left: 20px;
                .slogn{
                    padding-top: 32px;
                    font-size: 16px;
                }
                h2{
                    font-size: 32px;
                }
                p{
                    font-size: 16px;
                }
            }
            .banner-img{
                margin-top: -125px;     
                width: 100%;
            }       
    }
    }




.social{
    max-width: 969px;
    margin: 0 auto;
    height: 315px;
    margin-top: 217px;
    h2{
        text-align: center;
    }
    @media(max-width: 768px){
        
        h2{font-size: 28px;
           margin-top: 600px;
        }
    }   
    @media(max-width: 375px){
        
        h2{font-size: 28px;
           margin-top: 90px;
        }
    }
    .social-items{
        text-align: center;
        width: 33%;
        img{         
            width: 90px;
            height: 90px;
        }
        p{
            line-height: 1.5;
        }    
    }
    @media(max-width: 768px){
        
        .mpadding16{
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .social-items{
            height: 240px;
            width: 100%;
        }
    }
    @media(max-width: 375px){
        
        .mpadding16{
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .social-items{
            height: 240px;
            width: 100%;
        }
    }
}

.charactor{
    align-items: center;
    margin-top: 100px;
}