.outofhero{
    max-width: 1366px;
    height: 470px;
    position: relative;
    background-size: 885px;
    background-color: #F7F9FD;
    border-radius: 0px 0px 0px 300px;;    

    .hero{
        max-width: 1366px;
        height: 559px;
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/banner.svg);
        background-repeat: no-repeat;
        background-position: right top;
       
        .menu{
            img{
                height: 100%;
            }
            .b-top{
                width: 128px;
                height: 40px;
                border-radius: 20px;
                background-color: #56C4C5 ;
                margin-top: 24px;
        
                a{
                    display: block;
                    text-decoration: none;
                    color: white;
                    &:active{
                        background-color:#FF5D50;
                        border-radius: 20px;
                    }
                }
            }

        }

    } 
 
    


}


   



