@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu {
  border: 1px  solid #0000;
}

img {
  max-width: 100%;
  height: auto;
}

*, *:before, after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-img {
  height: 3690px;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/bg_home.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball01.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/home_footer.svg);
  background-repeat: no-repeat,no-repeat,no-repeat;
  background-position: right top ,-222px 578px,3600px;
  height: auto;
}

@media (max-width: 768px) {
  .page-img {
    background-image: none ,none;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/bg_home_sm.svg);
    background-position: 80px 640px;
    background-size: 500px;
  }
}

@media (max-width: 375px) {
  .page-img {
    background-image: none ,none;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/bg_home_sm.svg);
    background-position: 15px 480px;
    background-size: 334px;
  }
}

.header {
  height: 88px;
}

.header img {
  height: 100%;
}

.header .b-top {
  width: 128px;
  height: 40px;
  border-radius: 20px;
  background-color: #56C4C5;
  margin-top: 24px;
}

.header .b-top:active {
  background-color: #FF5D50;
}

.header .b-top a {
  display: block;
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .header {
    border-bottom: 2px solid #FFD153;
  }
}

@media (max-width: 375px) {
  .header {
    border-bottom: 2px solid #FFD153;
  }
}

.banner {
  max-width: 1085px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .banner-text {
  width: 451px;
  padding-bottom: 157px;
}

.banner .banner-text .slogn {
  padding-top: 158px;
}

.banner .banner-text h2 {
  line-height: 1.2;
}

.banner .banner-img {
  width: 532px;
}

@media (max-width: 768px) {
  .banner {
    max-width: 768px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .banner-text {
    padding-left: 24px;
    width: 600px;
    height: auto;
    padding-bottom: 100px;
  }
  .banner .banner-text .slogn {
    padding-top: 40px;
    font-size: 24px;
  }
  .banner .banner-text h2 {
    font-size: 40px;
  }
  .banner .banner-text p {
    font-size: 24px;
    padding-bottom: 32px;
  }
  .banner .banner-img img {
    width: 1000px;
  }
}

@media (max-width: 375px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .banner-text {
    padding-left: 20px;
  }
  .banner-text .slogn {
    padding-top: 32px;
    font-size: 16px;
  }
  .banner-text h2 {
    font-size: 32px;
  }
  .banner-text p {
    font-size: 16px;
    padding-bottom: 32px;
  }
  .banner-img {
    margin-top: -125px;
    width: 100%;
  }
}

.social {
  max-width: 969px;
  margin: 0 auto;
  height: 315px;
  margin-top: 217px;
}

.social h2 {
  text-align: center;
}

@media (max-width: 768px) {
  .social {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball01.svg);
    background-repeat: no-repeat;
    background-position: -120px;
    background-size: 240px;
  }
  .social h2 {
    font-size: 28px;
    margin-top: 90px;
  }
}

@media (max-width: 375px) {
  .social {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball01.svg);
    background-repeat: no-repeat;
    background-position: -77px;
    background-size: 126px;
  }
  .social h2 {
    font-size: 28px;
    margin-top: 90px;
  }
}

.social .social-items {
  text-align: center;
  width: 33%;
}

.social .social-items img {
  width: 90px;
  height: 90px;
}

.social .social-items p {
  line-height: 1.5;
}

@media (max-width: 768px) {
  .social .mpadding16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .social .social-items {
    height: 240px;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .social .mpadding16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .social .social-items {
    height: 240px;
    width: 100%;
  }
}

.charactor {
  height: 527px;
  max-width: 1088px;
  margin-top: 100px;
  text-align: center;
}

.charactor .charactor-box {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.charactor .charactor-box .charactor-items {
  height: 388px;
  width: calc(100%/4-48px);
  border: 1px solid #00000014;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
}

.charactor .charactor-box .charactor-items img {
  width: 260px;
  border-radius: 12px 12px 0px 0px;
}

@media (max-width: 768px) {
  .charactor {
    max-width: 768px;
    margin-top: 480px;
  }
  .charactor .charactor-box {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .charactor .charactor-box .charactor-items {
    margin-bottom: 24px;
  }
}

.tech {
  max-width: 1039px;
  height: 588px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
}

.tech .text {
  max-width: 395px;
  height: 259px;
  padding-top: 165px;
}

.tech .text h2 {
  line-height: 1.2;
}

.tech .text p {
  line-height: 1.5;
}

.tech .text .b-mid {
  width: 136px;
  height: 49px;
  background-color: #56C4C5;
  color: white;
  border: 1px solid #56C4C5;
  border-radius: 27px;
}

.tech .techbox {
  max-width: 507px;
  margin-right: 137px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tech .techbox .tech-items {
  width: 230px;
  height: 280px;
  border: 1px solid #00000014;
  border-radius: 12px;
  margin-bottom: 28px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
}

.tech .techbox .tech-items .round {
  width: 86px;
  height: 86px;
  border-radius: 43px;
}

.tech .techbox .tech-items .round img {
  width: 80%;
}

.tech .techbox .tech-items p {
  line-height: 1.5;
}

@media (max-width: 768px) {
  .tech {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tech .text {
    text-align: center;
    margin-top: 240px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 240px;
  }
  .tech .text .space {
    margin-bottom: 360px;
  }
  .tech .techbox {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 375px) {
  .tech {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tech .text {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    margin-top: 1080px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 240px;
  }
  .tech .techbox {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
  }
}

/*好評如潮*/
.comment {
  height: 432px;
  margin-bottom: 100px;
}

.comment .comment-box {
  max-width: 1088px;
  height: 304px;
}

.comment .comment-box .comment-items {
  margin-top: 56px;
  width: calc(100%/3-32);
  height: 248px;
  border: 1px solid #00000014;
  border-radius: 12px;
  margin-right: 8px;
  margin-left: 8px;
  position: relative;
}

.comment .comment-box .comment-items p {
  line-height: 1.2;
}

.comment .comment-box .comment-items .person {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  position: absolute;
  top: -56px;
  left: 32px;
}

.comment .comment-box .comment-items .person img {
  width: 100%;
}

.comment .comment-box .comment-items .line {
  border-top: 1px solid  #00000014;
  max-width: 320px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .comment-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/*依照設計稿計算出container
  視口大小 1136 扣掉左右139 加padding 左右16
  1136-139-139+16+16=1120

*/
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.mauto {
  margin-left: auto;
  margin-right: auto;
}

.pt8 {
  padding-top: 8px;
}

.pt12 {
  padding-top: 12px;
}

.pt16 {
  padding-top: 16px;
}

.pt24 {
  padding-top: 24px;
}

.pt32 {
  padding-top: 32px;
}

.pt48 {
  padding-top: 48px;
}

.pb8 {
  padding-bottom: 8px;
}

.pb16 {
  padding-bottom: 16px;
}

.pb24 {
  padding-bottom: 24px;
}

.pb32 {
  padding-bottom: 32px;
}

.pb48 {
  padding-bottom: 48px;
}

.pr8 {
  padding-right: 8px;
}

.pr16 {
  padding-right: 16px;
}

.pr24 {
  padding-right: 24px;
}

.pr32 {
  padding-right: 32px;
}

.pl8 {
  padding-left: 8px;
}

.pl16 {
  padding-left: 16px;
}

.pl24 {
  padding-left: 24px;
}

.pl32 {
  padding-left: 32px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz20 {
  font-size: 20px;
}

.fz32 {
  font-size: 32px;
}

.fz48 {
  font-size: 48px;
}

.fwb {
  font-weight: bold;
}

.color-d {
  color: #221E1F;
}

.color-l {
  color: #747474;
}

.color-g {
  color: #56C4C5;
}

.border-color {
  border: 1px solid #00000014;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fdr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.fww {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tac {
  text-align: center;
}
/*# sourceMappingURL=all.css.map */